:root {
  --grass-green: #567d46;
  --red: #a72241;
  --blue: #75acc4;
  --black: #000000;
}

body {
  background: var(--blue);
  margin: 0px;
}

.road {
  position: absolute;
  top: 80%;
  height: 20%;
  width: 100%;
  background: #333333;
}

.left-grass {
  position: absolute;
  top: 50%;
  border-bottom: 30vh solid var(--grass-green);
  border-right: 100vw solid transparent;
}

.right-grass {
  position: absolute;
  top: 50%;
  left: 50%;
  border-bottom: 30vh solid var(--grass-green);
  border-left: 50vw solid transparent;
}

.left-mountain {
  position: absolute;
  top: 22%;
  left: 40%;
  border-left: 25vw solid transparent;
  border-right: 25vw solid transparent;
  border-bottom: 50vh solid #3c5b53;
}

.right-mountain {
  position: absolute;
  top: 30%;
  left: 60%;
  border-left: 20vw solid transparent;
  border-right: 20vw solid transparent;
  border-bottom: 40vh solid #556954;
}

.car-body {
  position: absolute;
  top: 70%;
  left: 40%;
  height: 10vh;
  width: 20vw;
  background: var(--red);
  border-radius: 50% 75% 20% 25%;
}

.back-wheel {
  position: absolute;
  top: 30%;
  left: 12%;
  height: 8.5vh;
  width: 8.5vh;
  background: var(--black);
  border-radius: 50%;
}

.front-wheel {
  position: absolute;
  top: 30%;
  left: 71%;
  height: 8.5vh;
  width: 8.5vh;
  background: var(--black);
  border-radius: 50%;
}

.roof {
  position: absolute;
  top: -33%;
  left: 10%;
  height: 5vh;
  width: 13.6vw;
  background: var(--red);
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.window {
  position: absolute;
  top: -30%;
  left: 17.5%;
  height: 4.5vh;
  width: 12vw;
  background: #98979d;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
